.ParagraphGray {
  color: var(--color-gray-500);
  font-size: var(--font-sm);
  font-weight: 600;
}

.ParagraphGrayLight {
  color: var(--color-gray-400);
  font-size: var(--font-sm);
  font-weight: 600;
  white-space: pre-wrap;
  margin-top: 4px;
}

.ParagraphGrayNormal {
  color: var(--color-gray-500);
  font-size: var(--font-sm);
  font-weight: 400;
}
