.inquiryContent td {
  padding: 1.25rem;
  font-size: var(--font-sm);
  color: var(--color-content);
  font-weight: 600;
  line-height: var(--line-height-md);
  background-color: var(--color-gray-50);
  white-space: pre-wrap;
}

.inquiryContent IconComponent {
  display: inline-block;
  margin-right: 2.5rem;
}

.question {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.question p {
  margin-left: 0.75rem;
}

.answer {
  display: flex;
}

.answerContent {
  width: 30.0625rem;
  margin-left: 0.75rem;
}

.answerContent time {
  display: block;
  margin-top: 0.75rem;
}
