.inquiryContent {
  width: 100%;
}

.inquiryContent td {
  width: 100%;
  padding: 1.25rem;
  font-size: var(--font-sm);
  color: var(--color-content);
  font-weight: 600;
  line-height: var(--line-height-md);
  background-color: var(--color-gray-50);
  white-space: pre-wrap;
}

.inquiryContent IconComponent {
  margin-right: 2.5rem;
}

.contentWrapper {
  display: flex;
}

.content {
  margin-left: 0.75rem;
}

.inquiryContent time {
  display: block;
  margin-top: 0.75rem;
}
