article{
  display: flex;
  justify-content: center;
}

.mainPopUpInner{
  width: 440px;
}

.mainPopUpInner a{
  display: block;
  height: 586px;
}

.mainPopUpInner img{
  border-radius: 20px 20px 0 0;
}

.buttonWrapper{
  display: flex;
  background-color:pink;
  height: 86px;
  border-radius: 0 0 20px 20px;
}

.closeToday,.close{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  font-weight: 400;
}

.closeToday{
  border-radius: 0 0 0 20px;
  border-right: 1px solid var(--color-gray-100);
}

.close{
  border-radius: 0 0 20px 0;
}