.swiper-button-next,
.swiper-button-prev {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-fraction {
  width: auto;
  left: auto;
  right: 22.2%;
  background: rgba(64, 64, 64, 0.3);
  color: var(--color-white);
  padding: 0 0.625rem;
  font-size: var(--font-sm);
  line-height: var(--line-height-md);
  border-radius: var(--border-radius-md);
  bottom: 1.75rem;
}

.visualSwiper .swiper-button-next,
.visualSwiper .swiper-button-prev {
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all .5s;
}

.visualSwiper:hover .swiper-button-next,
.visualSwiper:hover .swiper-button-prev,
.visualSwiper:focus .swiper-button-next,
.visualSwiper:focus .swiper-button-prev
.visualSwiper:focus-within .swiper-button-next,
.visualSwiper:focus-within .swiper-button-prev{
  opacity: 1;
}

.visualSwiper .swiper-button-next {
  right: 17%;
}
.visualSwiper .swiper-button-prev {
  left: 17%;
}

.productSwiper {
  position: relative;
}

.productSwiper .swiper-button-next,
.productSwiper .swiper-button-prev {
  top: 40%;
  color: var(--color-black);
  background: var(--color-white);
  font-weight: 600;
  border: 1px solid var(--color-gray-100);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.productSwiper .swiper-button-next {
  right: -25px;
}

.productSwiper .swiper-button-prev {
  left: -25px;
}
