.menu{
  display: flex;
  width: 10%;
  border-style: none;
  background-color: transparent;
  font-weight: 600;
  height: 72px;
  align-items: center;
}

.menu::before{
  content: "";
  background-image: url('../../assets/Hamburger.svg');
  background-repeat: no-repeat;
  background-position: 0 0.125rem;
  background-size: .875rem 1rem;
  display: inline-block;
  width: 1rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.menu:hover{
  color: var(--color-primary);
}


.menuList{
  position: absolute;
  top: 4.75rem;
  width: 15.4375rem;
  height: 55rem;
  border: 1px solid var(--color-gray-100);
}

.menuList a{
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: .5rem 0 .5rem .75rem;
}

.menuList li::before{

}
