.Button {
  display: flex;
  box-sizing:border-box;
  user-select: none;
  cursor: pointer;
  background: 0;
  border: 0;
  border-radius: 2px;
  padding: 1em 2em;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-white);
}

.Button.primary {
  background-color: var(--color-primary);
}

.Button.secondary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.Button > svg {
  pointer-events: none;
}

.Button:disabled {
  cursor: not-allowed;
}
