button {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
}

.product {
  overflow: hidden;
  max-width: 48.9375rem;
}

.product > span {
  float: left;
  margin-bottom: 1.25rem;
}

.product > ul {
  float: right;
}

.orderby > li {
  display: inline-block;
  font-size: var(--font-md);
  margin-left: 0.5rem;
  color: var(--color-gray-300);
}

.orderby > li::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 0.625rem;
  background: var(--color-gray-300);
  margin-left: 0.5rem;
}

.orderby > li:last-child::after {
  display: none;
}

.filter {
  position: sticky;
  top: 80px;
  width: 16.6875rem;
  height: 100%;
  max-height: calc(100vh - 120px);
  margin-right: 2.9375rem;
}

.filter > li {
  position: relative;
  line-height: 3.25rem;
  border-bottom: 1px solid var(--color-gray-100);
}

.filter > li:first-child button {
  position: absolute;
  right: 0;
  font-size: var(--font-sm);
  color: var(--color-gray-300);
  display: inline-block;
  width: auto;
}

.filter button {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.filter li div {
  transform: rotate(-180deg);
}

.filter li.active div {
  transform: rotate(0deg);
}

.filter input{
  cursor: pointer;
}

.filter label {
  display: inline-block;
  margin: 0.5rem 0 1rem 0.5rem;
  cursor: pointer;
  width: auto;
}

.filter label:hover {
  color: var(--color-primary);
}

.count {
  font-size: var(--font-sm);
  color: var(--color-gray-300);
  line-height: var(--line-height-lg);
  margin-left: 0.25rem;
  font-weight: 400;
  vertical-align: middle;
}
