.center > * {
  margin-left: auto;
  margin-right: auto;
}

.left > * {
  margin-right: auto;
}

.right > * {
  margin-left: auto;
}

.widthLarge {
  width: 1050px;
}

.widthMedium {
  width: 640px;
}

.widthSmall {
  width: 340px;
}
