.title {
  font-size: var(--font-md);
  color: var(--color-content);
  font-weight: 600;
  position: relative;
  display: flex;
}

.secretTitle {
  color: var(--color-gray-400);
  font-weight: 600;
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.tag {
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
}

.colSpanCell button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.colSpanCell td {
  border-bottom: 1px solid var(--color-gray-100);
  padding: 1.25rem;
  font-size: var(--font-sm);
}

.colSpanCell:not(td:nth-of-type(1)) {
  font-size: var(--font-md);
  color: var(--color-gray-400);
  font-weight: 600;
}

.colSpanCell td:nth-of-type(1) {
  width: 70%;
}

.colSpanCell td:nth-of-type(2) {
  width: 10%;
  text-align: center;
}

.colSpanCell td:nth-of-type(3) {
  width: 10%;
  text-align: center;
}

.colSpanCell td:nth-of-type(4) {
  width: 10%;
  text-align: center;
}
