* {
  box-sizing: border-box;
}

.AddCart {
  width: 396px;
  height: 292px;
  border-radius: 16px;
  padding: 24px 20px;
  background: #ccc;
  margin: 20px;
}

.AddCart h3 {
  color: var(--color-content);
  font-size: var(--font-md);
  font-weight: 600;
  line-height: var(--line-height-md);
}

.AddCart p {
  color: var(--color-content);
  font-size: var(--font-md);
  font-weight: 600;
  line-height: var(--line-height-md);
}

.Price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.Price input {
  width: 84px;
  height: 30px;
}

.TotalPriceTable {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.TotalPriceTable p {
  margin-top: auto;
}

.TotalPriceTable .TotalPrice {
  font-size: var(--font-xl);
  font-weight: 700;
}

.PointGuide {
  margin-top: 4px;
  text-align: right;
}

.AddCartButton {
  margin-top: 28px;
}

.AddCartButton button {
  width: 174px;
  height: 54px;
  border: 0;
  padding: 0;
}

.AddCartButton button:first-child {
  margin-right: 8px;
}
