:root {
  /* ---------------------------------- color --------------------------------- */
  --color-white: #ffffff;
  --color-black: #212121;
  --color-secondary: #90c090;
  --color-primary: #509450;
  --color-content: #333333;

  --color-gray-50: #f9f9f9;
  --color-gray-100: #e1e1e1;
  --color-gray-200: #c4c4c4;
  --color-gray-300: #a6a6a6;
  --color-gray-400: #898989;
  --color-gray-500: #6b6b6b;
  --color-gray-600: #565656;
  --color-gray-700: #404040;
  --color-gray-800: #2b2b2b;
  --color-gray-900: #151515;

  --color-accent: #fa622f;
  --color-blue: #0066ff;
  --color-error: #f03f40;

  /* -------------------------------- font-size ------------------------------- */
  --font-sm: 0.75rem; /* 12px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.33125rem; /* 21.3px */
  --font-xl: 1.775rem; /* 28.4px */
  --font-xxl: 2.36875rem; /* 37.9px */
  --font-xxxl: 3.15625rem; /* 50.5px */

  /* ------------------------------- line-height ------------------------------ */
  --line-height-sm: 140%;
  --line-height-md: 150%;
  --line-height-lg: 160%;

  /* ------------------------------- box-shadow ------------------------------- */
  --box-shadow-above-high: 0px -16px 48px rgba(0, 0, 0, 0.3);
  --box-shadow-above-medium: 0px -8px 36px rgba(0, 0, 0, 0.2);
  --box-shadow-above-low: 0px -4px 24px rgba(0, 0, 0, 0.1);

  --box-shadow-below-high: 0px 16px 48px rgba(0, 0, 0, 0.3);
  --box-shadow-below-medium: 0px 8px 36px rgba(0, 0, 0, 0.2);
  --box-shadow-below-low: 0px 4px 24px rgba(0, 0, 0, 0.1);

  /* ------------------------------ border-radius ----------------------------- */
  --border-radius-none: 0;
  --border-radius-default: 0.25rem;
  --border-radius-md: 1rem;
}
