.label {
  font-weight: 600;
  color: var(--color-content);
  line-height: var(--line-height-md);
  width: 100%;
  display: flex;
  align-items: center;
}

.label[data-is-need-curosr-pointer='true'] {
  cursor: pointer;
}

.essential-left::before {
  content: '';
  position: relative;
  top: -10px;
  background: url(@/assets/icons/Icon/sign/required.svg) no-repeat center;
  display: inline-block;
  width: 0.5625rem;
  height: 0.4375rem;
  margin-left: 0.125rem;
}

.essential-right::after {
  content: '';
  position: relative;
  top: -10px;
  background: url(@/assets/icons/Icon/sign/required.svg) no-repeat center;
  display: inline-block;
  width: 0.5625rem;
  height: 0.4375rem;
  margin-left: 0.125rem;
}

.Small {
  font-size: var(--font-sm);
  font-weight: 400;
}

.Medium {
  font-size: var(--font-md);
  font-weight: 400;
}

.Large {
  font-size: var(--font-lg);
  font-weight: 500;
}

.XL {
  font-size: var(--font-xl);
  font-weight: 600;
}

.XXL {
  font-size: var(--font-xxl);
  font-weight: 600;
}
