.label {
  font-size: var(--font-md);
  color: var(--color-content);
  font-weight: 600;
  line-height: var(--line-height-md);
}

.essential::after {
  content: '';
  position: relative;
  top: -10px;
  background: url(@/assets/icons/Icon/sign/required.svg) no-repeat center;
  display: inline-block;
  width: 0.5625rem;
  height: 0.4375rem;
  margin-left: 0.125rem;
}
