.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.125rem;
}

.productImg {
  position: relative;
  margin-bottom: 1rem;
  font-size: 0;
  overflow: hidden;
  
}

.productImg a{
  outline-offset: -1px;
}

.productImg img{
  transition: all .5s;
}

.productImg:hover img{
  transform: scale(1.1);
}

.productInfo {
  margin-bottom: 5.6875rem;
}

.productInfo li {
  margin-bottom: 0.5rem;
}

.delivery {
  font-weight: 600;
  font-size: var(--font-sm);
  color: var(--color-gray-400);
  line-height: var(--line-height-md);
}

.name {
  font-weight: 400;
  font-size: var(--font-md);
  line-height: var(--line-height-lg);
  color: var(--color-content);
}

.saleRatioRate {
  display: inline-block;
  font-weight: 600;
  font-size: var(--font-lg);
  line-height: var(--line-height-md);
  color: var(--color-accent);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.salePrice {
  display: inline-block;
  font-weight: 600;
  font-size: var(--font-lg);
  line-height: var(--line-height-md);
  color: var(--color-content);
}

.price {
  font-weight: 400;
  font-size: var(--font-sm);
  color: var(--color-gray-400);
  line-height: var(--line-height-lg);
  text-decoration: line-through;
}

.description {
  font-weight: 400;
  font-size: var(--font-sm);
  color: var(--color-gray-400);
  line-height: var(--line-height-lg);
}

.cart {
  position: absolute;
  right: 0.9375rem;
  bottom: 1.0625rem;
  cursor: pointer;
  border-radius: 50%;
}

.icon > span{
  padding: 0.25rem;
  font-size: var(--font-sm);
  border-radius: var(--border-radius-default);
  margin-right: 0.5rem;
}

.karly{
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.limit{
  background: var(--color-gray-100);
}