.productForm {
  padding-top: 1rem;
  border-bottom: 1px solid var(--color-gray-100);
  padding-bottom: 3.625rem;
}

.productForm h4 {
  width: 100%;
  display: flex;
  margin-bottom: 0.75rem;
}

.productForm label {
  font-weight: 600;
  width: 6.25rem;
  padding: 0.5rem;
}

.textContent {
  display: flex;
  position: relative;
}

/* .formText {
  width: 100%;
  height: 12.375rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius-default);
  resize: none;
  color: var(--color-gray-500);
  padding: 1rem 0 0 1rem;
  background-color: transparent;
} */

.formText:focus,
.formInput:focus {
  outline: 1px solid var(--color-black);
}

.numberOfCharacter {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  background-color: var(--color-white);
  color: var(--color-gray-500);
  z-index: 3;
}

.checkSecret {
  margin-left: 6.25rem;
  margin-top: 0.75rem;
  margin-bottom: -2.25rem;
  font-size: var(--font-sm);
  font-weight: 400;
}
