.headerTop{
  margin-top: .75rem;
}

.topMenu{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.9375rem;
}

.topMenu a{
  text-decoration: none;
  color: black;
  padding: 0 0.625rem;  
}

.topMenu img{
  width: .625rem;
  margin-left: .1875rem;
}

.topMenu li:first-child a{
  color: var(--color-primary);
}


.headerSearch{
  /* background-color: lightcoral; */
  display: flex;
}

.headerSwitch{
  display: flex;
  padding-right: 3.125rem;
  width: 30%;
  /* background-color: yellow; */
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
}

.headerSwitch a{
  padding: 0 0.625rem;
  text-decoration: none;
  color: black;
  /* background-color: aquamarine; */
}

.headerSearchForm{
  width: 50%;
  /* background-color: brown; */
  display: flex;
  align-items: center;
}

.headerSearchForm div{
  transform: translateX(-2.5rem);
}


.headerIconList{
  width: 20%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerIconList li{
  /* background-color: violet; */
  padding: 0 16px;
}

.headerIconList li {
  text-align: center;
}