.pageMoveButtons {
  text-align: center;
  margin-top: 1rem;
}

.pageMoveButtons button {
  overflow: hidden;
  padding: 0;
}

.pageMoveButtons [data-image='Direction=Down'] {
  filter: sepia(80%) hue-rotate(120deg) brightness(85%);
  transform: scale(200%, 200%);
}

.previousButton,
.nextButton {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--color-gray-100);
  border-radius: var(--border-radius-default);
  background-color: transparent;
}

.previousButton {
  transform: rotate(90deg);
  margin-right: 1rem;
}

.nextButton {
  transform: rotate(-90deg);
}
