.nav{
  width: 920px;
  height: 4.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-md);
  font-weight: 600;
}

.navMenu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 65%;
}

.navMenu li{
  margin: 0 auto;
}

.navMenu a{
  text-decoration: none;
  color: var(--color-content);
}

.navMenu a:hover{
  text-decoration: underline;
  color: var(--color-primary);
}

.navSide{
  width: 13%;
  height: 1.6875rem;
  line-height: 1.6875rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-content);
  border: 1px solid var(--color-gray-300);
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.navSide span:first-child{
  color: var(--color-primary);
}
