.nav{
  /* width: 1050px; */
  height: 4.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-md);
  font-weight: 600;
  position: relative;
  width: 100%;
}

.navMenu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 70%;
}

.navMenu li{
  margin: 0 auto;
}

.navMenu a{
  text-decoration: none;
  color: var(--color-content);
}

.navMenu a:hover{
  text-decoration: underline;
  color: var(--color-primary);
}
