
.nav{
  width: 1050px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-category{
  display: flex;
  width: 10%;
}

.nav-category::before{
  content: "";
  background-image: url('../../assets/Hamburger.svg');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 14px 16px;
  display: inline-block;
  width: 16px;
  height: 24px;
  margin-right: 12px;
}

.nav-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 60%;
}

.nav-menu li{
  margin: 0 auto;
}

.nav-menu a{
  text-decoration: none;
  color: #333;
}

.nav-menu a:hover{
  text-decoration: underline;
  color: #509450;
}

.nav-side{
  width: 15%;
  height: 27px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #A6A6A6;
  border-radius: 16px;
}

.nav-side span:first-child{
  color: #509450;
}