.buttonSection {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.buttonSection > Button {
  text-align: center;
  width: 11.625rem;
  height: 3.375rem;
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  line-height: var(--line-height-sm);
  padding: 1rem 2rem;
}

.buttonSection Button:first-child {
  border-color: var(--color-gray-200);
  color: var(--color-content);
}

.buttonSection Button:disabled {
  background-color: var(--color-gray-100);
  cursor: default;
}
